
.position-nav{
    padding-left: 30px;
    padding-top: 30px;
    line-height: 100%;
}

body{background: url("/statics/img/background/forest.jpeg");}
thead{background-color: rgba(250, 250, 250, 0.7);}
input{background-color: rgba(255, 255, 255, 0.7);}

#time-position-select{margin-right: 100px;}
#time-position-select a{font-size: 14px;}