.site-title fieldset legend{
    margin-left: 35%;
}
.site-text{
    margin: 0 0;
}
.button-container{
    width: 300px;
    margin: 20px auto;
}
.result-table{
    max-width: 1000px;
    margin: 0 auto;
}
