body{
    /*background-color: #fdf6e3;*/
}

a{
    color:black;
}

.header-container{

}

.body-container{

}

.layui-container{
    width: 70%;
    margin: 20px auto;
}

.bg-blue{
    background-color: #1E9FFF;
}