body{
    background-color: #fdf6e3;
}

a{
    color:black;
}

.header-container{

}

.body-container{

}

.table-container{
    width: 90%;
    margin: 20px auto;
}

.bg-blue{
    background-color: #1E9FFF;
}